*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.quasi-form{
    border: 2px solid green;
    width: 400px;
    margin: 10px 25px;
    padding: 20px;
}

.doors{
	border: 3px solid blue;
    width: 400px;
	margin: 25px;
    text-align:center;
    position: relative;
}

.doors button{
    padding: 5px;
    margin:10px 5px 0;
    border: 0;
    border-radius: 10px 10px 0 0;
    transition: color .6s, background-color .6s;	
    width: 15%;
    height: 80px;
    cursor: pointer;
	
}

.knobs{
    background-color: #444;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position:absolute;
    top: 67px;
    
}
#knob1{
    left: 35%; 
}
#knob2{
    left: 53%; 
}
#knob3{
    left: 72%; 
}

button#red{
    background-color:red;
}
button#yellow{
    background-color:yellow;
}
button#green{
    background-color:lightgreen;
}

button:hover{
    color:white;
    background-color: burlywood !important;
}

button:focus{
    border: 0;
    background-color: gray;
}

